<!DOCTYPE html>
<html lang='en'>
    {{>head}}
    <body>
        {{>navbar}}
        <section class='about'>
            <div class='about-content'>
                <div class='about-image'>
                    <img src='images/about.png' />
                </div>
                <div class='about-text'>
                    <p>Welcome to the world of wonders</p>
                    <h1>I am a <span>Junior Web Developer</span>, a and student</h1>
                    <button>About Me</button>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>