<!DOCTYPE html>
<html lang='en'>
    {{>head}}
    <body>
        {{>navbar}}
        <section class='error-page'>
            <div class='error-container'>
                <img src='images/404.png' />
                <p>Welcome to the world of wonders</p>
                <h1>oops! page not found</h1>
                <a href='/'><button>Go Back</button></a>
            </div>
        </section>
        {{>footer}}
    </body>
</html>